<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find mobile_manipulator)/world/urdf/sphere.xacro"/>
  <xacro:include filename="$(find airlabdemo2020)/world/urdf/box.xacro"/>

  <link name="world"/>

  <xacro:spawn_sphere sphere_name="sphere_0"  r="100" xyz="2.0 1.0 0.0"/>
  <xacro:spawn_sphere sphere_name="sphere_1"  r="50"  xyz="6.0 1.5 0.0"/>
  <xacro:spawn_sphere sphere_name="sphere_2"  r="100" xyz="4.0 4.0 2.2"/>
  <xacro:spawn_sphere sphere_name="sphere_3"  r="100" xyz="1.0 8.0 0.5"/>
  <xacro:spawn_sphere sphere_name="sphere_4"  r="20"  xyz="7.0 3.0 1.5"/>

  <xacro:spawn_sphere sphere_name="sphere_5"  r="50"  xyz="3.0 5.0 0.5"/>
  <xacro:spawn_sphere sphere_name="sphere_6"  r="50"  xyz="3.5 5.0 0.5"/>
  <xacro:spawn_sphere sphere_name="sphere_7"  r="50"  xyz="4.0 5.0 0.5"/>
  <xacro:spawn_sphere sphere_name="sphere_8"  r="50"  xyz="4.5 5.0 0.5"/>
  <xacro:spawn_sphere sphere_name="sphere_9"  r="50"  xyz="5.0 5.0 0.5"/>

  <xacro:spawn_sphere sphere_name="sphere_10" r="100" xyz="8.0 8.0 0.0"/>
  <xacro:spawn_sphere sphere_name="sphere_11" r="50"  xyz="5.5 1.5 0.0"/>
  <xacro:spawn_sphere sphere_name="sphere_12" r="100" xyz="0.5 4.9 1.2"/>
  <xacro:spawn_sphere sphere_name="sphere_13" r="100" xyz="2.5 2.0 0.5"/>
  <xacro:spawn_sphere sphere_name="sphere_14" r="20"  xyz="7.5 5.0 0.0"/>
  <xacro:spawn_sphere sphere_name="sphere_15" r="100" xyz="8.0 1.0 0.0"/>
  <xacro:spawn_sphere sphere_name="sphere_16" r="50"  xyz="5.0 7.0 1.7"/>
  <xacro:spawn_sphere sphere_name="sphere_17" r="100" xyz="8.0 4.0 2.2"/>
  <xacro:spawn_sphere sphere_name="sphere_18" r="100" xyz="3.5 9.0 0.5"/>
  <xacro:spawn_sphere sphere_name="sphere_19" r="20"  xyz="6.5 0.3 0.0"/>
  <gazebo> <static>true</static></gazebo>
</robot>

