<launch>
  <!-- either PositionJointInterface, VelocityJointInterface or EffortJointInterface-->
  <!-- PositionJointInterface requires the custom panda controllers to be installed-->
  <!-- the setting here is important when using the joystick controller-->
  <arg name="panda_hi" default="VelocityJointInterface"/>
  <arg name="demo" default="false"/>
  <arg name="boxer_control_mode" default="single_wheel"/>
  <!-- GAZEBO arguments -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="use_rviz" default="false"/>

  <param name="panda_controller" value="$(arg panda_hi)"/>
  <param name="mmrobot/robot_description"
    command="$(find xacro)/xacro --inorder
      '$(find mobile_manipulator)/robot_description/mmrobot.urdf.xacro'
      panda_hi:=$(arg panda_hi)"
  />

  <param name="sphere_store_description"
    command="$(find xacro)/xacro --inorder 
      '$(find mobile_manipulator)/world/urdf/sphere_store.urdf.xacro'"/>

  <!--launch GAZEBO with own world configuration -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="debug" value="$(arg debug)"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="headless" value="$(arg headless)"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" ns="mmrobot" type="spawn_model" args="-param robot_description -urdf -model mmrobot"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param sphere_store_description -urdf -model sphereStore"/>

  <!-- State publisher -->
  <node name="mm_state_publisher" pkg="mobile_manipulator" type="curStatePublisherMM"/>

  <include file="$(find mobile_manipulator)/launch/mmrobot_control.launch">
    <arg name="use_rviz" value="$(arg use_rviz)"/>
    <arg name="panda_hi" value="$(arg panda_hi)"/>
    <arg name="boxer_control" value="$(arg boxer_control_mode)"/>
  </include>

  <group if="$(arg demo)">
    <node name="demo_node" pkg="mobile_control" type="simpleTestControls.py"/>
  </group>

    

</launch>
