<?xml version="1.0" ?>
<launch>
  <arg name="panda_hi" default="VelocityJointInterface"/>
  <arg name="boxer_control_mode" default="single_wheel"/>

  <include file="$(find mobile_manipulator)/launch/empty_world.launch">
    <arg name="boxer_control_mode" value="$(arg boxer_control_mode)"/>
    <arg name="panda_hi" value="$(arg panda_hi)"/>
  </include>

  <param name="sphere_store_description"
    command="$(find xacro)/xacro --inorder 
      '$(find mobile_mpc)/world/mpc_test_world.urdf.xacro'"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param sphere_store_description -urdf -model sphereStore"/>

</launch>
