<?xml version="1.0" ?>
<launch>
  <arg name="param_file" default="$(find mobile_mpc)/config/mpc_params.yaml"/>

  <rosparam file="$(arg param_file)"/>

  <node name="curStatePublisher" pkg="mobile_manipulator" type="curStatePublisherMM" />

  <!-- global planner from move base-->
  <include file="$(find mobile_navigation)/launch/map_creation.launch"/>
  <include file="$(find mobile_navigation)/launch/move_base.launch"/>

  <include file="$(find mobile_navigation)/launch/octomap_mapping.launch"/>
  
  <node name="global_path_tracker" pkg="mobile_mpc" type="globalPlanTracker" output="screen"/>

  <node name="mpc_decomp" pkg="mobile_mpc" type="decomp_node" respawn="false" output="screen"/>

  <node name="rviz" type="rviz" pkg="rviz"
    args="-d $(find mobile_mpc)/config/rviz/simplempc.rviz"/>

</launch>
