<launch>
  <include file="$(find airlabdemo2020)/launch/demo_gazebo.launch"> 
    <arg name="boxer_control_mode" value="single_wheel"/>
    <arg name="panda_hi" value="VelocityJointInterface"/>
  </include>
  <node type="laser_scan_assembler" pkg="laser_assembler"
        name="my_assembler">
    <remap from="scan" to="/front/scan"/>
    <param name="max_scans" type="int" value="10" />
    <param name="fixed_frame" type="string" value="base_link" />
  </node>
  <!-- often problematic due to the tf timing-->
  <!--node type="decomp_node" pkg="mobile_mpc" name="decomposition_node"/-->
  <!--node type="mpc_server" pkg="mobile_mpc" name="mpc_server" output="screen"/-->
  <node name="rviz" type="rviz" pkg="rviz"
    args="-d $(find mobile_mpc)/config/polyhedron.rviz"/>
</launch>
